* {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto-regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100vw;
    font-family: Roboto-Regular;
}

.row {
    display: flex;
}

.cell {
    display: inline-flex;
    height: 10px;
    width: 10px;
    outline: 1px solid darkgray;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}

#grid {
    margin: 10px;
    height: 1010px;
    border: 5px solid black;
    overflow: hidden;
}

.container {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid black;
}

.btn {
    width: 100%;
    background-color: black; 
    color: white;
}

.options {
    padding: 5px;
    border: 2px dashed black;
}

.presets-title {
    text-align: center;
}

#presets-list {
    margin-top: 10px;
}

.range {
    margin-top: 5px;
    text-align: center;
}

.preset {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 25px
}

.preset-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

.delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.preset-img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}